/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: "PingFang Regular";
  src: url("src/assets/font/PingFang Regular.ttf");
}

@font-face {
  font-family: "PingFang Bold";
  src: url("src/assets/font/PingFang Bold.ttf");
}

@font-face {
  font-family: "PingFang ExtraLight";
  src: url("src/assets/font/PingFang ExtraLight.ttf");
}

@font-face {
  font-family: "PingFang Heavy";
  src: url("src/assets/font/PingFang Heavy.ttf");
}

@font-face {
  font-family: "PingFang Light";
  src: url("src/assets/font/PingFang Light.ttf");
}

@font-face {
  font-family: "PingFang Medium";
  src: url("src/assets/font/PingFang Medium.ttf");
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PingFang Regular", Arial, sans-serif;
}

.mat-mdc-snack-bar-container {
  --mat-mdc-snack-bar-button-color: rgb(58, 168, 219);
  --mdc-snackbar-container-color: #333333;
  --mdc-snackbar-supporting-text-color: rgba(255, 255, 255, 0.87);
  opacity: 0.9 !important;
}

.title-style {
  font-family: "PingFang Heavy", "Arial Narrow", Arial, sans-serif;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  padding-right: 15px !important;
}
